h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

/** project section **/

.productos {
  background: url(../images/product_bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 90px 60px 90px 60px;
}

.productos .tituloproducto {
  text-align: left;
}

.productos .tituloproducto h2 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: #f2c119 solid 8px;
}

.producto_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos .proyecto_box {
  text-align: center;
  max-width: 17.3%;
  margin: 0 15px 20px 15px;
}

.dark_white_bg {
  background: #f2f2f2;
  height: 257px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.proyecto .proyecto_box h3 {
  color: #1c1c1b;
  font-size: 15px;
  line-height: 20px;
  padding: 22px 0px 0px 0px;
  text-align: left;
}

/* Estilos para el botón de "Leer más" en el producto principal */
.producto_main .read_more {
  margin-top: 50px !important; /* Ajusta el margen superior según sea necesario */
  display: block; /* Hace que el botón sea un elemento de bloque */
  text-transform: none; /* Elimina la transformación de texto (si la hubiera) */
  color: #fff; /* Color del texto */
  background: #183661; /* Color de fondo del botón */
  padding: 15px; /* Espacio interno del botón */
  text-decoration: none; /* Elimina el subrayado del texto */
  border-radius: 35px; /* Radio de borde para hacer el botón redondeado */
  width: 100px; /* Ajusta el ancho del botón según sea necesario */
  text-align: center;
}

.producto_main .read_more:hover {
  background-color: #f2c119;
}

/** end project section **/
