/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Encabezado y navegación */
.bar {
  display: flex;
  background: transparent;
  justify-content: space-between;
  min-height: 125px;
  align-items: center;
  position: relative;
  z-index: 1; /* Añadir una posición z para que el encabezado se sitúe por encima del video */
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 0 0 10px 10px;
}

.bar-scrolled {
  background-color: #7b572b; /* Cambia este color al color que deseas */
}

.nav-logo {
  height: 115px;
  display: flex;
}

.nav-link {
  font-weight: 600;
  padding-right: 60px;
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
  margin-right: 20px;
}

.nav-link:hover {
  text-shadow: #ccc 1px 1px 5px;
  transform: scale(1.2, 1.2);
}

/* Sección principal */
.hero-section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden; /* Para recortar el video dentro de la sección sin que se desborde */
  z-index: 0; /* Establecer una posición z por debajo del encabezado */
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 1;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-section h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Establecer altura del video para que ocupe todo el encabezado */
.hero-section video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.gp2 {
  background-color: #a5a3a3;
  padding: 25px 10px;
  text-align: center;
  color: #fff;
}

/* Pie de página */
.pie-pagina {
  background-color: #0a141d;
  width: 100%;
}

.pie-pagina .gp1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .gp1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .gp1 .box figure img {
  width: 350px;
}

.pie-pagina .gp1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .gp1 .box p {
  color: #e5e4e4;
  margin-bottom: 10px;
}

.pie-pagina .gp1 .social-icons a {
  display: inline-block;
  text-decoration: none;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.pie-pagina .gp1 .social-icons a:hover {
  color: aquamarine;
}

.pie-pagina .gp2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .gp2 small {
  font-size: 15px;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }

  .pie-pagina .gp1 {
    width: 90%;
    grid-template-columns: repeat(3, -1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
