/* Estilos generales */

/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

/* Definición de variables */
:root {
  --font-family-sans-serif: "Raleway", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* Estilos para encabezados */
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  line-height: normal;
  color: #111111;
  margin: 0;
}

/* Tamaños de fuente para distintos encabezados */
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}

/* Estilos generales del documento */
html {
  font-family: var(--font-family-sans-serif);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Encabezado y navegación */
.bar {
  display: flex;
  background: transparent;
  justify-content: space-between;
  min-height: 125px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 0.3s ease, min-height 0.35s ease;
  border-radius: 0 0 10px 10px;
}
.nav-logo {
  height: 175px;
  width: 175px;
  display: flex;
}

/* Cambios al hacer scroll en la barra */
.bar-scrolled {
  background-color: #183661;
  min-height: 90px;
}
.bar-scrolled .ico .nav-link {
  color: #f2c119; /* Cambia el color de los enlaces cuando la barra se ha desplazado */
}

/* Estilos específicos para los enlaces cuando la barra de navegación se ha desplazado hacia abajo */
.bar-scrolled .ico .nav-link.scrolled {
  color: #c5c5c5; /* Cambia el color de los enlaces cuando la barra se ha desplazado */
}

.ico .nav-link {
  font-weight: 600;
  padding-right: 60px;
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
  margin-right: 20px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ico .nav-link:hover,
.ico .nav-link:focus {
  text-shadow: #cccccc 5px 5px 15px;
  transform: scale(1.2, 1.2);
}

.ico .nav-link:hover,
.ico .nav-link:focus,
.pagina-inicio .ico .nav-link.inicio,
.pagina-tienda .ico .nav-link.tienda,
.pagina-contacto .ico .nav-link.contacto {
  color: #f2c119; /* Cambia el color del texto para todos los enlaces */
}
/* Sección principal */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

.video #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.314);
  z-index: 1;
}

.content {
  z-index: 2;
}

.hero .content .social-icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

.hero .content-img .social-icons {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

.hero .content .social-icons a,
.hero .content-img .social-icons a {
  color: white;
  margin-right: 45px;
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 18px;
  transition: all 0.3s ease;
}

.hero .content .social-icons a:hover,
.hero .content-img .social-icons a:hover {
  transform: scale(1.4) rotate(360deg);
}

.hero .content h1,
.content-img h1 {
  font-size: 88px;
  margin-bottom: 20px;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.hero .content h2,
.content-img h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.gp2 {
  background-color: #ffffff;
  padding: 25px 10px;
  text-align: center;
  color: #000000;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cambia el valor de opacidad según sea necesario */
  z-index: 1;
}
.content-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2em;
  }

  .content h2 {
    font-size: 1em;
  }
}

/* Fin de sección principal */

/** Sección de productos **/
.productos {
  background: url(../images/product_bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 90px 60px;
}

.productos .tituloproducto {
  text-align: left;
}

.productos .tituloproducto h2 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: #f2c119 solid 8px;
}

.producto_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos .proyecto_box {
  text-align: center;
  align-items: center;
  max-width: 17.3%;
  margin: 25px 15px 20px 15px;
  flex: 1 1 20%;
}

.dark_white_bg {
  background: linear-gradient(to bottom, #adafab, #c9c9c9);
  height: 257px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productos .proyecto_box h3 {
  color: #1c1c1b;
  font-size: 15px;
  line-height: 20px;
  padding: 22px 10px 10px 10px;
  text-align: center;
}

.productos .proyecto_box img {
  max-width: 100%;
  height: auto;
}

/* Estilos para el botón "Ver más" en el producto principal */
.producto_main .read_more {
  margin-top: 20px !important;
  display: inline-block;
  text-transform: none;
  color: #fff;
  background: #183661;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 35px;
  text-align: center;
  transition: all 0.4s ease;
  width: auto;
  min-width: 150px;
  line-height: normal;
}

.producto_main .read_more:hover {
  background-color: #f2c119;
  color: #000000;
  transform: scale(1.1);
  font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .productos {
    padding: 60px 30px;
  }

  .producto_main .proyecto_box {
    max-width: 100%;
  }
}

/** Fin de sección de productos **/

/* Pie de página */
.pie-pagina {
  background-color: #0a141d;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
}

.pie-pagina .gp1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .gp1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .gp1 .box figure img {
  transition: all 0.45s ease;
  width: 350px;
}

.pie-pagina .gp1 .box figure img:hover {
  transform: scale(1.1);
}

.pie-pagina .gp1 .bar figure img:not(hover) {
  transition: all 0.35s ease;
  transform: scale(1);
}

.pie-pagina .gp1 .box h2 {
  color: #f2c119;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .gp1 .box p {
  color: #e5e4e4;
  margin-bottom: 10px;
}

.pie-pagina .gp1 .social-icons a {
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  border-radius: 50%;
  transition: all 0.45s ease;
}

.pie-pagina .gp1 .social-icons a:hover {
  transform: scale(1.2);
  background-color: #183661;
}

.pie-pagina .gp1 .social-icons a:hover .fa-instagram {
  color: #c13584;
}
.pie-pagina .gp1 .social-icons a:hover .fa-facebook {
  color: #0947cc;
}
.pie-pagina .gp1 .social-icons a:hover .fa-x-twitter {
  color: #ffd43b;
}
.pie-pagina .gp1 .social-icons a:hover .fa-whatsapp {
  color: #25d366;
}

/* Anular la transición cuando no se pasa el puntero sobre un icono */
.pie-pagina .gp1 .social-icons a:not(:hover) {
  transition: all 0.35s ease;
  transform: scale(1);
}

.pie-pagina .gp2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .gp2 small {
  font-size: 15px;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}

@media (max-width: 768px) {
  .hero .content h1 {
    font-size: 48px;
  }
  .hero .content h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .pie-pagina .gp1 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .pie-pagina .gp1 .box figure img {
    width: 250px;
  }
}

/*Inicia Contacto section*/

/* Estilos para la sección de contacto */
.contacto-section {
  padding: 100px 0;
  text-align: center;
  color: #111111;
}

.contacto-section h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.contacto-section p {
  font-size: 18px;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

.contact-form button[type="submit"] {
  background-color: #183661;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  min-width: 150px;
  line-height: normal;
}

.contact-form button[type="submit"]:hover {
  background-color: #f2c119;
  transform: scale(1.15);
  font-weight: bold;
}

.mapa {
  background-color: #0a141d;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mapa iframe {
  width: 80%;
  height: 550px;
  border: 0;
}

/* Estilos para la sección de información de contacto */
.informacion-contacto {
  margin-top: 50px;
}

.informacion-contacto p {
  font-size: 18px;
  margin-bottom: 15px;
}

.informacion-contacto strong {
  font-weight: bold;
}

.informacion-contacto a {
  color: #183661;
  text-decoration: none;
  margin-right: 10px;
}

.informacion-contacto a:hover {
  text-decoration: underline;
}

.pie-pagina .box .politicas {
  margin-top: 20px;
}

.pie-pagina .box .politicas a {
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  text-align: center;
}

.pie-pagina .box .politicas a:hover {
  color: #f2c119;
}

/*Fin Contacto section*/
