/* Estilos generales */

@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
:root {
  --font-family-sans-serif: "Raleway", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* Encabezado y navegación */
.bar {
  display: flex;
  background: transparent;
  justify-content: space-between;
  min-height: 125px;
  align-items: center;
  position: relative;
  z-index: 1; /* Añadir una posición z para que el encabezado se sitúe por encima del video */
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 0 0 10px 10px;
}

.bar-scrolled {
  background-color: #183661; /* Cambia este color al color que desees #183661 o #3f556e*/
  min-height: 90px; /* Ajusta este valor según sea necesario */
  transition: 0.4s;
}

.nav-logo {
  height: 115px;
  display: flex;
}

.ico .nav-link {
  font-weight: 600;
  padding-right: 60px;
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
  margin-right: 20px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ico .nav-link:hover,
.ico .nav-link:focus {
  text-shadow: #767676 1px 1px 5px;
  transform: scale(1.2, 1.2);
}

/* Sección principal */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden; /* Para recortar el video dentro de la sección sin que se desborde */
  z-index: 0; /* Establecer una posición z por debajo del encabezado */
}

.video #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 1;
}

.hero .content h1 {
  font-size: 88px;
  margin-bottom: 20px;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.hero .content h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.gp2 {
  background-color: #ffffff;
  padding: 25px 10px;
  text-align: center;
  color: #000000;
}

/* Pie de página */
.pie-pagina {
  background-color: #0a141d;
  width: 100%;
}

.pie-pagina .gp1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .gp1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .gp1 .box figure img {
  width: 350px;
}

.pie-pagina .gp1 .box h2 {
  color: #f2c119; /*#f2c119 o #fff*/
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .gp1 .box p {
  color: #e5e4e4;
  margin-bottom: 10px;
}

.pie-pagina .gp1 .social-icons a {
  display: inline-block;
  text-decoration: none;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.pie-pagina .gp1 .social-icons a:hover {
  color: aquamarine;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.pie-pagina .gp2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .gp2 small {
  font-size: 15px;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }

  .pie-pagina .gp1 {
    width: 90%;
    grid-template-columns: repeat(3, -1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* Hero Carousel */
#template-mo-zay-hero-carousel {
  background: #efefef !important;
}
